alembic==1.0.9
astroid==2.2.5
atomicwrites==1.3.0
attrs==19.1.0
bcrypt==3.1.6
beautifulsoup4==4.7.1
cffi==1.12.2
Chameleon==3.6.1
colander==1.7.0
colorama==0.4.1
coverage==4.5.3
deform==2.0.7
hupper==1.6.1
iso8601==0.1.12
isort==4.3.17
lazy-object-proxy==1.3.1
Mako==1.0.9
-e git+https://github.com/krysros/marker.git@682700d1eaa902079a6a28d02944adf14af77f40#egg=marker
MarkupSafe==1.1.1
mccabe==0.6.1
more-itertools==7.0.0
paginate==0.5.6
passlib==1.7.1
PasteDeploy==2.0.1
peppercorn==0.6
plaster==1.0
plaster-pastedeploy==0.7
pluggy==0.9.0
py==1.8.0
pycparser==2.19
Pygments==2.3.1
pylint==2.3.1
pyramid==1.10.4
pyramid-chameleon==0.3
pyramid-debugtoolbar==4.5
pyramid-mako==1.0.2
pyramid-tm==2.2.1
pytest==4.4.1
pytest-cov==2.6.1
python-dateutil==2.8.0
python-editor==1.0.4
python-slugify==3.0.2
repoze.lru==0.7
six==1.12.0
soupsieve==1.9.1
SQLAlchemy==1.3.3
text-unidecode==1.2
transaction==2.4.0
translationstring==1.3
typed-ast==1.3.1
venusian==1.2.0
waitress==1.2.1
WebOb==1.8.5
WebTest==2.0.33
wrapt==1.11.1
XlsxWriter==1.1.6
zope.deprecation==4.4.0
zope.interface==4.6.0
zope.sqlalchemy==1.1
